
<div class="row">

	<div class="control-group">
	
	  <form class="form-signin" data-ng-submit="login()">
	    <h2 class="form-signin-heading">请登录</h2>
	    <input type="text" class="input-block-level" data-ng-model="username" placeholder="用户名">
      	<input type="password" class="input-block-level" data-ng-model="password" placeholder="密码">
	    <button class="btn btn-large btn-primary" type="submit">登录</button>
	    <button class="btn btn-large btn" ng-click="register()">注册</button>
	  </form>
	</div>
	
</div>