<h1>我的饭局</h1>

<p class="lead">我的余额： {{ balance }}</p>
<button class="btn btn-primary" ng-click="newMeal()" ng-show="!enterNewMeal">创建新饭局</button>
<form name="myForm" ng-show="enterNewMeal">
  <div class="control-group input-append">
    <label>日期</label>
    <input type="text" ng-model="meal.date" data-date-format="dd/mm/yyyy" bs-datepicker required>
    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
  </div>
  <div class="control-group">
    <label>费用</label>
    <input type="text" ng-model="meal.amount" integer required>
  </div>
  <div class="control-group">
    <label>买单</label>
    <select ui-select2 ng-model="meal.payer" style="width:300px" required>
      <option value=""></option>
      <option ng-repeat="user in users" value="{{user.name}}">{{user.name}}</option>
    </select>
  </div>
  <div class="control-group">
    <label>参与人员</label>
    <select ui-select2 multiple ng-model="meal.participants" style="width:300px" required>
      <option ng-repeat="user in users" value="{{user.name}}">{{user.name}}</option>
    </select>
  </div>
  <div class="control-group">
    <label>餐馆</label>
    <input type="text" ng-model="meal.restaurant" required>
  </div>

  <button class="btn btn-primary" ng-click="newMeal()" ng-disabled="myForm.$invalid">创建新饭局</button>
  <button class="btn" ng-click="cancelMeal()" ng-show="enterNewMeal">取消</button>
</form>

<table class="table">
  <thead>
  <tr>
    <th>日期</th>
    <th>费用</th>
    <th>买单</th>
    <th>参与人员</th>
    <th>餐馆</th>
  </tr>
  </thead>
  <tbody ng-repeat="meal in meals">
    <tr>
      <td>{{meal.date | date}}</td>
      <td>{{meal.amount}}</td>
      <td>{{meal.payer}}</td>
      <td><span ng-repeat="participant in meal.participants">{{participant}}<span ui-if="!$last">, </span></span></td>
      <td>{{meal.restaurant}}</td>
    </tr>
  </tbody>
</table>
<pagination num-pages="noOfPages" current-page="currentPage" previous-text="前一页" next-text="下一页"></pagination>

