<h1>排行榜</h1>

<table class="table" style="width: 500px">
  <thead>
  <tr>
    <th>用户名</th>
    <th>余额</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.name}}</td>
      <td>{{user.balance}}</td>
    </tr>
  </tbody>
</table>

<div style="height: 100px">
  <fs-bar class="negtive" bind="chart_data.negative" width="600" height="80" duration="750"/>
</div>
<div style="height: 200px">
  <fs-bar bind="chart_data.positive" width="600" height="60" duration="750"/>
</div>


